.site-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #238a910c;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #1761a0
}
.modal-lg {
    max-width: 80% !important;
}
.my_btn {
    background-color: transparent;
    border: solid;
    color: #1760a0;
}
/* * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
} */

.app-header {
  height: 6vh;
  width: inherit;
  /* background-color: whitesmoke;
    outline: .05vh solid;
    outline-color: #1761a0; */
}

.app-non-header {

  height: 94vh;
  width: inherit;
  /* overflow: hidden; */
}

.header {
  height: inherit;
  width: inherit;
  background-color: whitesmoke;
  outline: 0.05vh solid;
  outline-color: #1761a0;
}


.dashboard {

  /* background-color: rgb(43, 226, 134); */
  height: 94vh;
  width: inherit;
}

/* * {
    padding: 0;
    margin: 0;
} */
.parent {

  overflow: scroll;
  height: inherit;
  width: inherit;
  background-image: url("/src/app/images/LogoDiagonal.png");

  /* background-color: blueviolet; */
}
.brainpage {
    overflow: scroll;
  justify-content: center;
  align-items: center;

}

.child {
}

.login-card {
  /* box-shadow: -1em .5em .5em rgb(131, 131, 128), -1em 0 .4em rgb(131, 131, 128); */
  box-shadow: 10px 5px 5px rgb(150, 137, 137), inset 0 0 50px rgb(221, 221, 221);
  padding: 1em;
  /* color: #1761a0; */
}
.card-shadow {
  box-shadow: -1em 0.5em 0.5em rgb(131, 131, 128),
    -1em 0 0.4em rgb(131, 131, 128);
  box-shadow: 10px 5px 5px rgb(150, 137, 137), inset 0 0 50px rgb(221, 221, 221);
}

.logo {
  z-index: 1;
  /* box-shadow: 10px 5px 5px rgb(150, 137, 137), inset 0 0 50px  rgb(221, 221, 221); */
}

/* .App {

}

@viewport {
  height: 100vh;
  width: 100%; Sets the width of the actual viewport to the device width
} */

/* .main {
    box-sizing: border-box;
} */

my-btn {
  background-color: powderblue;
  transition: background-color 0.5s;
}

my-btn:hover {
  background-color: gold;
}

.all-empl-page {
  padding: 3px;
  box-shadow: 10px 5px 5px rgb(150, 137, 137);
  height: 80vh;
  overflow: scroll;
}

.all-drugs-scroll-page {
  padding: 3px;
  box-shadow: 10px 5px 5px rgb(150, 137, 137);
  max-height: 60vh;
  overflow: scroll;
}

.scroll-page {
  box-shadow: 10px 5px 5px rgb(150, 137, 137), inset 0 0 50px rgb(231, 231, 231);
  margin-bottom: 2em;
}
.small-btns {
  box-shadow: 10px 5px 5px rgb(150, 137, 137), inset 0 0 10px rgb(231, 231, 231);
  margin-bottom: 2em;
}

.scroll-page-title {
  /* box-shadow: 10px 5px 5px rgb(150, 137, 137); */
  padding: 20px;
  margin-bottom: 0.5em;
  text-align: center;
  text-justify: center;
}

.create-page {
  /* box-shadow: 10px 5px 5px rgb(150, 137, 137) */
}

.columnRight {
  /* background-color: #aaaaaa; */
  /* border-right: solid; */
}

.columnLeft {
  /* background-color: #aaaaaa; */
  /* border-left: solid; */
}

.centerColumn {
  /* background-color: #5e2a2a; */
  /* position: static; */
  /* padding-top: 7px; */
  /* z-index: 1; */
}

/* .popup{
    position:fixed;
    margin:0px auto;
    width:200px;
    height:150px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:rgb(240,240,240);
    border:2px solid grey;
    z-index:1;
    display:none
    } */
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login {
    height: 94vh;

}
.bg {
    background-image: url("/src/app/images/LogoDiagonal.png");
    background-size: auto;
  }
