.login {
    background-color: #aaaaaa;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.App {
  background-color: #aaaaaa;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@viewport {
  height: 100vh;
  width: 100vw; /*Sets the width of the actual viewport to the device width*/
}

.columnRight {
  background-color: #aaaaaa;
  border-right: solid;
  border-color: rgb(116, 116, 116);
  border-width: 1px;

}

.columnLeft {
  height: 100vh;
  background-color: #aaaaaa;
  border-left: solid;
  border-color: rgb(116, 116, 116);
  border-width: 1px;
}

.mainRow {
  background-color: #aaaaaa;
  height: 100vh;
  width: 100vw;
  border: solid;
  border-color: rgb(116, 116, 116);
  border-width: 1px;
}

.centerColumn {
  background-color: #aaaaaa;
  height: 100vh;
  width: 100vw;
  padding-top: 7px;

}

.patientInfoParent {
  justify-content: center;
  background-color: #aaaaaa;
  width: 100%;
  height: 93vh;
  border: solid;
  border-color: rgb(116, 116, 116);
  border-width: 1px;
  position: relative;
  overflow: auto;
  padding: 5px;

}

.patientInfoChild {
    justify-self: center;
    overflow: scroll;
    background-color: #aaaaaa;
    height: 93%;
    width: 97%;
    border: solid;
    border-color: rgb(116, 116, 116);
    border-width: 1px;
    position: absolute;
    padding: 5px;

  }

  .form-group {
      padding: 10px;
  }

  .form-label {
    margin-top: 10px;
}
